<div class="jumbotron">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h3></h3>
      <h2>Hello <span class="salmon">{{vm.user.displayName}}</span>! Prêt à transpirer?</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">

  </div>
  <div class="col-xs-6 red-card">
    <div class="title">365</div>
    <div class="legends">total hours</div>
  </div>
</div>
<div class="row">
  <div class="week-planed md-shadow--1">
    <div class="week">
      <div class="day done col-xs-2">
        <div class="legends">LUN</div>
      </div>
      <div class="day done col-xs-2">
        <div class="legends">Mar</div></div>
      <div class="day col-xs-2">
        <div class="legends">Mer</div></div>
      <div class="day workout col-xs-2">
        <div class="legends">Jeu</div></div>
      <div class="day col-xs-2">
        <div class="legends">Ven</div></div>
      <div class="day workout col-xs-2">
        <div class="legends">Sam</div></div>
      <div class="day col-xs-1">
        <div class="legends">Dim</div></div>
    </div>
  </div>
</div>
