<div class="jumbotron">
  <div class="row  exercise-name">
    <div class="col-xs-7 col-xs-offset-1">
      <h2>Exercice 1</h2>
    </div>
  <div class="col-xs-4 red-card">
    <div class="title">1</div>
    <div class="legends">/3</div>
  </div>
</div>
</div>

<div class="row">
  <div class="workout-playground md-shadow--1 col-xs-12">
    <chrono ng-show="false"></chrono>
    <buzzer></buzzer>
  </div>
</div>
<div class="row next-exercise md-shadow--1">
  <div class="label">Comes Next : </div>
  <div class="title">Exercice 2</div>
  <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </div>
</div>
<div class="row">
  <ul class="breadcrumb six-steps one">
	  <li class="item done">
		  <span>Step</span>
  	</li>
  	<li class="item done">
  		<span>Step</span>
  	</li>
  	<li class="item being-done">
  		<span>Step</span>
  	</li>
  	<li class="item not-done">
  		<span>Step</span>
  	</li>
  	<li class="item not-done">
  		<span>Step</span>
  	</li>
  	<li class="item not-done">
  		<span>Step</span>
  	</li>
  </ul>
</div>
